html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  background-color: gray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
}

* {
  box-sizing: border-box;
}

button {
  border: 2px solid black;
  border-radius: 10px;
  flex-direction: row;
  width: 80px;
  height: 30px;
  margin: 10px;
}

#left,
#right,
#output {
  height: 100%;
  padding: 5px;
}

#left {
  flex-grow: 1;
  flex-basis: 60%;
}

#right {
  flex-grow: 0;
  flex-shrink: 1;
}

#output {
  flex-grow: 0;
}

#dist {
  border: 2px solid black;
  aspect-ratio: 1 / 2;
}

#code {
  height: 80%;
  width: 100%;
}

#log {
  width: 100%;
  height: 30%;
  border: 2px solid black;
  border-radius: 10px;
  overflow: auto;
}
input[type="range"] {
  vertical-align: middle;
}

#speed {
  display: inline-block;
  width: 7.2em;
}

.box {
  padding: 3px;
  inline-size: min-content;
}

.mem,
.header {
  border: 2px solid black;
}

.mem {
  min-width: 1.5em;
}

.header {
  background-color: blue;
}

#mem {
  border-collapse: collapse;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
